<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/static/style/error.css">

    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='image/favicon.ico')}}">
</head>
<body class="bg-light">

    {% block content %}
    {% endblock %}


    <!-- JS, Popper.js, and jQuery -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>