* {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

.navbar{
    background-color:#26519e;
}

.nav-link{
    color: #7ca9f8 !important;
    font-size: 1.2em;
}


.nav-link:hover{
    color:#fff !important;
}

.navbar-brand{
    font-family: 'Anton', sans-serif;
    font-size: 1.6em;
    color:#fff !important;
}

.flash-container{
    max-width: 800px;
    margin:20px auto;
    padding: 0 20px;
}






