.container{
    max-width: 700px;
    padding: 20px 30px;

}

.profile{
 
    width: 100%;
    padding: 25px;
 
    border-radius: 10px;
}

.btn-danger{
    float: left;
    margin-bottom: 15px;
}

.profile-img{
    float:right;
    margin-bottom: 15px;
    padding: 20px;

}

.profile-section{
    clear:both;
}



