{% extends "layout.html" %}

{% block title %}FlaskBlog - Log In{% endblock %} 

{% block script %}
{{ super() }}
    <link rel="stylesheet" href="../static/style/auth.css">
{% endblock %}

{% block content %}

<section class="container">
    <div class="form-wrap shadow-lg">

        <h1 class="title-form">Log In</h1>
        
        <div class="image-auth">
            <img src="{{ url_for('static',filename='image/auth.png')}}" alt="">
        </div>

        <p>Log In and enjoy your blog account</p>
        <form method="POST">
            {{ form.hidden_tag() }}
            {% from "macros.html" import render_field %}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            <div class="form-check">
                {{ form.remember_me(class_="form-check-input",_name="check-field",type="checkbox")}}
                <label class="form-check-label" for="check-field">{{form.remember_me.label}}</label>
            </div>
            {{ form.submit(class_="btn btn-primary mb-3") }}
            <p>Forgot your password? <a href="#">Click Here</a></p>
        </form>
   
    </div>
    <p>Don't have an account yet? <a href="#">Register Here</a></p>

</section>





{% endblock %}