{% extends "layout_list.html" %}

{% block title %}FlaskBlog - Moderate{% endblock %} 

{% block script %}
{{ super() }}
    <link rel="stylesheet" href="/static/style/follow.css">
{% endblock %}


{% block list %}

{% for comment in comments%}
<tr>
    <td class="table-comment-l {{ 'comments-d' if comment.disabled }}">
        
        <img class="mt-2 ml-2"src="{{comment.author.gravatar(size=50)}}">
        
        <a href="{{ url_for('main.profile',username=comment.author.username)}}" class="user-link">
            {{comment.author.username}}
        </a>
        
        {{comment.body}}
        
        
    </td>
    
    <td class="table-comment-r">
        
        <p>Since {{moment(comment.time_stamp).fromNow()}}</p>
        
        
        {% if comment.disabled %}
        <a href="{{ url_for('main.moderate_enable',id=comment.id,page=page)}}" class="btn btn-outline-primary">Enable</a>
        {% else %}
        <a href="{{ url_for('main.moderate_disable',id=comment.id,page=page)}}" class="btn btn-danger">Disable</a>
        {% endif %}
    </td>
    
</tr>
{% endfor %}
   

{% endblock %}