{% extends "layout.html" %}

{% block title %}FlaskBlog - Reset Password{% endblock %} 

{% block script %}
{{ super() }}
    <link rel="stylesheet" href="/static/style/auth.css">
{% endblock %}

{% block content %}

<section class="container">
    <div class="form-wrap shadow-lg">

        <h1 class="title-form">Reset Password</h1>
        
        <form method="POST">
            {{ form.hidden_tag() }}
            {% from "macros.html" import render_field %}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_password) }}
            {{ form.submit(class_="btn btn-primary mb-3") }}
        </form>
   
    </div>

</section>





{% endblock %}